/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

header {
  background: #d9534f;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
  font-size: 2.8rem;
}

header p {
  margin: 0.5rem 0 0;
  font-size: 1.4rem;
  font-style: italic;
}

/* Main Content */
main {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1.5rem;
}

section {
  margin-bottom: 2rem;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #d9534f;
  border-bottom: 2px solid #d9534f;
  padding-bottom: 0.5rem;
}

/* Map Styling */
#map {
  height: 500px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#map img {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.back-button {
  display: inline-block;
  margin: 1rem auto;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background: #d9534f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
  background: #d9534f;
}


/* Additional Styles for Snapshots Section */
#snapshots {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.snapshot-image {
  max-width: 42%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* Repository Section Styles */
#repository {
  margin-top: 2rem;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#repository h2 {
  color: #d9534f;
  border-bottom: 2px solid #d9534f;
  padding-bottom: 0.5rem;
}

.repo-link {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background: #d9534f;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.repo-link:hover {
  background: #3700b3;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem 0;
  background: #d9534f;
  color: #fff;
  margin-top: 2rem;
}