/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background: #6200ea;
  color: #fff;
  padding: 1.5rem 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header p {
  margin: 0.5rem 0 0;
  font-size: 1.2rem;
}

/* Main Content */
main {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

section {
  margin-bottom: 2rem;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #6200ea;
  border-bottom: 2px solid #6200ea;
  padding-bottom: 0.5rem;
}

ul,
ol {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.back-button {
  display: inline-block;
  margin: 1rem auto;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: #6200ea;
  background: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
  background: #ececec;
}

/* Additional Styles for Snapshots Section */
#snapshots {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.snapshot-image {
  max-width: 42%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Repository Section Styles */
#repository {
  margin-top: 2rem;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#repository h2 {
  color: #6200ea;
  border-bottom: 2px solid #6200ea;
  padding-bottom: 0.5rem;
}

.repo-link {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background: #6200ea;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.repo-link:hover {
  background: #3700b3;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem 0;
  background: #333;
  color: #fff;
  margin-top: 2rem;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
